# Base build tools
setuptools>=42
wheel

# FastAPI server
fastapi==0.104.1
uvicorn==0.24.0
gunicorn==21.2.0

# File upload + HTTP
python-multipart==0.0.6
requests==2.31.0
python-dotenv==1.0.0

# core dependencies
numpy==1.26.4
Pillow==10.1.0
opencv-python-headless==4.8.1.78

# ONNX Runtime (CPU-only)
onnxruntime==1.22.0

# Transformers
transformers==4.35.2

# PyTorch (CPU-only)
torch==2.2.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
